body {
	background-image: url("startUpBG.png");
	background-repeat: no-repeat;
	background-size: cover;

}


.hero-text {
  font-family: 'Cute Font';
  position: absolute;
  height: 100px; 
  left: 217px;
  right: 203px;
  top: 210px;
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

button {
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  width: 227px;
  height: 64px;
  left: calc(50% - 227px/2 + 0.5px);
  top: 320px;
  background-color: pink;
}


.button-text {
  font-family: 'Cute Font';
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 163px;
  height: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #3C3A3D;
}